//
//   Author: Ken
//   Date: 24/09/2013
//   Time: 23:50
//   make it testable

block content
    .contact-content-body
        include index_mobile_content_show_all
        include index_mobile_content_detail
        include index_mobile_content_add
        include index_mobile_content_edit