//
//   User: Ken
//   Date: 13/10/2013
//   Time: 11:17

.content-body-edit-contact.close-button-effect-area.index-mobile-content-control
    form.pure-form.pure-form-aligned#edit-contact-form
        .pure-u-1.add-contact-group
            .close-button
            button.pure-button.pure-button-primary.edit-contact-button#submitEditedContact(type="submit") Update
            .pure-u-1-3
                //input.upload-contact-image(type="file" )
            .pure-u-1-3
                .edit-contact-detail-basic
                    input.edit-detail#editedLastName(type="text" placeholder="Last Name" maxlength="30" required)
                    input.edit-detail#editedFirstName(type="text" placeholder="First Name" maxlength="30" required)
                    input.edit-detail#editedCompany(type="text" placeholder="Company" maxlength="100")
        .pure-u-1.add-contact-group#contact-detail-phone-group
            .add-contact-detail-phone-item
                .pure-u-1-3
                    h6.contact-detail-field-name.contact-detail-phone-field-name phone
                .pure-u-1-3
                    input.edit-detail#editedPhone(type="tel" placeholder="Phone" maxlength="30")
        .pure-u-1.add-contact-group#contact-detail-email-group
            .add-contact-detail-email-item
                .pure-u-1-3
                    h6.contact-detail-field-name.contact-detail-email-field-name email
                .pure-u-1-3
                    input.edit-detail#editedEmail(type="email" placeholder="Email")
        .pure-u-1.add-contact-group
            .add-contact-detail-note-item
                .pure-u-1-3
                    h6.contact-detail-field-name note
                .pure-u-1-3
                    textarea.edit-detail#editedNote(type="text" placeholder="Note (Max 500)" maxlength="500")
