//
//   User: Ken
//   Date: 15/10/2013
//   Time: 17:49
extends layout

block css-link
    link(rel='stylesheet', href='/stylesheets/style-desktop.css')

block header
    include index_desktop_header
block content
    include index_desktop_content
block footer