//
//   Author: Ken
//   Date: 25/09/2013
//   Time: 00:10
//   make it testable

block footer
    script(type='text/javascript' data-main='/javascripts/main-index-mobile.js' src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js')
    // Weiner debugging
    //script(src="http://130.233.84.160:8080/target/target-script-min.js#anonymous")