//
//   Author: Ken
//   Date: 26/09/2013
//   Time: 22:41
.content-body-show-all(style='display:block')
    .pure-u-1
        form(class="pure-form" id="searchForm")
            input(type="text" id="searchBox" class="pure-input-1" placeholder="Search" autocomplete="off")
    .pure-u-1#contactList
            //.contact-item-wrap
            //    .contact-item.pure-u-4-5
            //        p.pure-u.nick-name-icon TA
            //        .pure-u-4-5
            //            h5(class="contact-name") Aura, Tuomas
            //            h6(class="contact-company") Aalto University
            //            p(class="contact-note") Professor at School of Science ...
            //    .pure-u.remove-contact-button-area
            //        img(class="remove-contact-button" src="/images/close.png")
            //.pure-g.contact-item
            //    .pure-u
            //        img(class="contact-profile-photo" src="/images/profile.png")
            //    .pure-u-3-4
            //        h5(class="contact-name") Collin, Jari
            //        h6(class="contact-company") Aalto University
            //        p(class="contact-note") Professor at School of Science ...
            //.pure-g.contact-item
            //    .pure-u
            //        img(class="contact-profile-photo" src="/images/profile.png")
            //    .pure-u-3-4
            //        h5(class="contact-name") Di Francesco, Mario
            //        h6(class="contact-company") Aalto University
            //        p(class="contact-note") Professor at School of Science ...
            //.pure-g.contact-item
            //    .pure-u
            //        img(class="contact-profile-photo" src="/images/profile.png")
            //    .pure-u-3-4
            //        h5(class="contact-name") Collin, Jari
            //        h6(class="contact-company") Aalto University
            //        p(class="contact-note") Professor at School of Science ...
            //.pure-g.contact-item
            //    .pure-u
            //        img(class="contact-profile-photo" src="/images/profile.png")
            //    .pure-u-3-4
            //        h5(class="contact-name") Di Francesco, Mario
            //        h6(class="contact-company") Aalto University
            //        p(class="contact-note") Professor at School of Science ...
