extends layout

block css-link
    link(rel='stylesheet', href='/stylesheets/style-mobile.css')

block header
    include index_mobile_header
block content
    include index_mobile_content
block footer
    include index_mobile_footer