//
//   User: Ken
//   Date: 15/10/2013
//   Time: 17:59

block header
    .contact-content-head
        .pure-u-1-3
            a(href='/')
                img(class="logo" src="/images/contact-icon.png")