//
//   User: Ken
//   Date: 11/10/2013
//   Time: 18:00
.pure-g
    .pure-u-1-3
    .notification-item.pure-u-1-3
        .pure-u.notification-image-item
            img(class="notification-image" src="")
        .pure-u.notification-text-item
            p.notification-text
    .pure-u-1-3