//
//   Author: Ken
//   Date: 24/09/2013
//  Time: 23:34

doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='http://code.jquery.com/qunit/qunit-1.12.0.css')
    body
        #qunit
        #qunit-fixture
            include index_mobile_header
            include index_mobile_content
            //include index_mobile_footer
        script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js')
        script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(type='text/javascript' src='http://code.jquery.com/qunit/qunit-1.12.0.js')
        script(type='text/javascript' src='/test/javascripts/testconfig.js')